.login {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.login__logo {
  width: 80%;
}

.login__logo img {
  width: 100%;
  object-fit: contain;
}

.login > button {
  width: 300px;
  background-color: #5165f6;
  color: var(--clr-white);
  font-weight: 500;
  border: 1px solid #5165f6;
  cursor: pointer;
}

.login > button:hover {
  color: #5165f6;
  background-color: transparent;
}

@media screen and (max-width: 576px) {
  .login > button {
    width: 200px;
  }
}
